/* .card-title {
  text-transform: uppercase;
} */

.image-style {
  object-fit: contain;
}

/* .card-content {
  margin: 2vh 5vw;
} */

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2vh 5vw;
}

.center {
  text-align: center;
}

.card {
  margin-bottom: 5vh;
}

.card-body {
  padding: 1rem 0;
}

.scroll-bar-container {
  display: flex;
  background-color: #333;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

div.scroll-bar {
  /* display: inline-flex; */
  background-color: #333;
  /* overflow-y: hidden; */
  /* overflow-x: scroll; */
  /* white-space: nowrap; */
}

div.scroll-bar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scroll-bar a:hover {
  background-color: #777;
}
