/* .card-title {
  text-transform: uppercase;
} */

hr {
  margin: 0;
}
.image-style {
  object-fit: contain;
}

/* .card-content {
  margin: 2vh 5vw;
} */

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0vh 5vw;
}

.center {
  text-align: center;
}

.card {
  margin-bottom: 5vh;
}

.card-body {
  padding: 0.5vh 0;
}

.scroll-bar-container {
  display: flex;
  background-color: #333;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.horizontal-scrollable > .row {
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: #333;
  overflow-y: hidden;
}

/* .horizontal-scrollable > .row > .col-xs-4 {
  flex: 0 0 auto;
} */

.col-xs-4 a {
  color: white;
  text-align: center;
  text-decoration: none;
}

/* .col-xs-4 a:hover {
  background-color: #777;
} */

p {
  margin: 0.5rem 0;
}
