/* .parent-container {
  display: flex;
} */

.nav-bar {
  padding: 2vh 2vw;
  text-align: center;
  margin: 5vh 5vw 0vh 5vw;
}

.logo {
  object-fit: contain;
  height: 120px;
}

.search-input {
  display: flex;
  align-items: center;
  border: 2px solid lightgray;
  /* height: 30px; */
  padding: 5px 10px;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 560px;
}

.search-input > input {
  flex: 1;
  padding: 5px 10px;
  font-size: medium;
  border: none;
}

.search-input > input:focus {
  outline-width: 0;
}

.search-icon {
  color: gray;
}

.search-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search-buttons button {
  font-size: medium;
  margin: 5px;
  padding: 7px 15px;
  background-color: #000;
  border: 1px solid #000;
  text-transform: inherit;
  font-weight: 600;
  color: #fff;
}
.search-buttons button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #000, #333);
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
}

.search-buttons-hidden {
  display: none !important;
}

.results {
  padding: 4vh 5vw;
}
